html, body{
    overflow-x: hidden;
}



.nagy > h2 {
    opacity: 0; 
    transition: opacity 1s ease-in-out;
    padding: 5px;
}

.nagy:hover > h2  {
    opacity: 1;

}

.nagy:hover{
    background-blend-mode: multiply;
} 



button {
    opacity: 0; 

}




.nagy:hover > button {
    opacity: 1;
    padding: 3% 8%; 
    font-size: 2cqmin;  
    border-radius: 5px;  
    cursor: pointer;
    color: var(--white);
    background-color: var(--darkgray);
    border: var(--lightblue) solid 2px; 

}


.nagy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





