html, body{
    overflow-x: hidden;
    background-image: url(../!forras/kep/hatterindexnek.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




.row {
    display: flex;
    justify-content: center;
    gap: 5px;

}

.kisdoboz .small {
    width: 10%;
    height: 20px;
    background-color: var(--lightblue);
    border: 2px solid var(--purple);
    border-radius: 5px;
    min-width: 20px;
}

.nagydoboz .nagy {
    width: 75%;
    height: 350px;
    background-color: var(--darkgray);
    border-radius: 10px;
    border: 3px, solid var(--purple);
}

.nagydoboz {
    gap: 30px;
    padding: 20px;
    transition: all 0.2s;
}

.kisdoboz {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;

}


div > h2{
    color: var(--white);
    font-size: var(--xxlarge-size);
    text-align: center;
}








.nagy > h2 {
    opacity: 0; 
    transition: opacity 1s ease-in-out;
    padding: 5px;
}

.nagy:hover > h2  {
    opacity: 1;

}

.nagy:hover{
    background-blend-mode: multiply;
} 



button {
    opacity: 0; 
    transition: all 0.2s;
}




.nagy:hover > button {
    opacity: 1;
    padding: 3% 8%; 
    font-size: 2cqmin;  
    border-radius: 5px;  
    cursor: pointer;
    color: var(--white);
    background-color: var(--darkgray);
    border: var(--lightblue) solid 2px; 
    
}


.nagy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.nagy > button:hover{
    background-color: var(--white);
    color: var(--darkgray);
    border: var(--lightblue) solid 5px; 
    font-weight: bolder;
}
